img{
  max-width: 100%;
  height: 350px;
  border-radius: 5px;
}
/*căn giữa thanh lướt*/
.d{
  /* background-color: antiquewhite; */
  max-width: 80%;
  margin-left: 10%;
}
.div1{
  max-width: 65%;
  height: 350px;
  border-radius: 5px;
}
.img1{
  width: 34.7%;
  height: 111px;
  margin-top: -350px;
  float:right;
}
.img2{
  width: 34.7%;
  height: 111px;
  margin-top: -230px;
  float:right;
}
.img3{
  width: 34.7%;
  height: 111px;
  margin-top: -111px;
  float:right;

}
.c1{
  font-size: 16px;
  font-weight: bold;
  color: red;
}
.name{
  font-weight: bold;
  color: rgb(16, 16, 16);
  height: 85px;
  font-size: 14px;
}
.divf {
  display: flex;
  max-width: 40%;
  margin-top: 1%;
  font-weight: bold;
  color: white;
}

.divh, .divw, .divq {
  flex: 1;
  padding: 5px;
  text-align: center;
  background-color: #a1dc936e; /* Set a background color for better visualization */
  border-radius: 5px;
  margin: 0 5px; /* Adjust as needed to create space between the divs */
  height: 12%;
  overflow: hidden; /* Prevent text overflow */
  white-space: nowrap; /* Prevent text from wrapping */
}
.divh, .divw, .divq p {
  flex-shrink: 1;
  max-width: 100%; /* Ensure the text doesn't exceed the width of the div */
  white-space: nowrap; /* Prevent text from wrapping */
}
.div3 {
  /* background-image: url('https://i.pinimg.com/originals/48/cc/c5/48ccc5e….jpg'); */
  background-size: cover; /* Đảm bảo hình ảnh đầy đủ kích thước */
  background-position: center; /* Đặt hình ảnh ở giữa */
  height: 450px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Hiệu ứng đường viền mờ dần */
  margin-top: 7px;
  background-color: rgb(144, 211, 241);
}

.p1{
  /* margin-top: -130px; */

}
.d1{
  margin-top: 95px;
  margin-left: 900px;
}
.img4{
  max-width: 100%;
  height: 150px;
}
.hot-text {
  text-decoration: line-through; /* Thêm gạch ngang */
  font-size: 16px;
  font-weight: bold;
  color: black;
}
.product-list-p {
  max-width: 100%;
  margin: 20px auto;
  position: relative;
  overflow: hidden; /* Đảm bảo không xuất hiện thanh cuộn ngang nếu có */
}
a {
  text-decoration: none;
}
.product-list {
  display: flex;
  flex-wrap: nowrap; /* Ngăn các mặt hàng xuống dòng khi không đủ chiều rộng */
  justify-content: flex-start;
  margin: -5px;
  transition: transform 0.3s ease; /* Để thêm hiệu ứng chuyển động khi thay đổi trang */
  margin-top: 1%;
}
.e1{
  margin-left: 5px;
}
.product {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 233px;
  height: 350.2px;
}

.navigation-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navigation-buttons button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.navigation-buttons button:disabled {
  background-color: #dddddd;
  color: #666666;
  cursor: not-allowed;
}

.q1{
  width: 200px;
}
.phonebt{
  margin-top: 1%;
  height: 400px;
}
/* Thiết lập kích thước chung cho phone */
.phone {
  width: 100%;
  display: flex; /* Sử dụng flexbox để căn chỉnh các phần theo chiều ngang */
}

/* Phần phone1 chiếm 30% */
.phone1 {
  flex: 0 0 30%; /* flex-grow: 0; flex-shrink: 0; flex-basis: 30%; */
  overflow: hidden; /* Ẩn nội dung bị tràn ra khỏi phần này */
  font-size: 22px;
}
/* Style cho h6 */
.phone1 h4 {
  white-space: nowrap; /* Ngăn chữ xuống dòng */
  overflow: hidden; /* Ẩn nội dung bị tràn ra khỏi h6 */
  text-overflow: ellipsis; /* Hiển thị dấu chấm (...) nếu nội dung quá dài */
  font-size: 22px;
}
/* Phần phone2 chiếm 70% */
.phone2 {
  flex: 0 0 70%; /* flex-grow: 0; flex-shrink: 0; flex-basis: 70%; */
}

/* Style button (tuỳ thuộc vào thiết kế của bạn) */
.phone2 button {
  margin-right: 0.5%; /* Khoảng cách giữa các button, có thể điều chỉnh theo ý muốn */
  white-space: nowrap; /* Ngăn chữ xuống dòng */
  overflow: hidden; /* Ẩn nội dung bị tràn ra khỏi button */
  text-overflow: ellipsis; /* Hiển thị dấu chấm (...) nếu nội dung quá dài */
}

/* Phần xem tất cả sử dụng flex-end để căn chỉnh về cuối phần */
.phone2 button:last-child {
  margin-left: 0; /* Không có khoảng cách nếu là button cuối cùng */
  margin-right: auto; /* Căn chỉnh về phía cuối phần */
}
.sphone{
  margin-left: 38%;
}
a{
  margin: 3px;
}
.ap{
  width: 7%;
  border-radius: 8px;
  border: 1px solid #ddd;
}
.ss{
  width: 10%;
  border-radius: 8px;
  border: 1px solid #ddd;
}
.xm{
  width: 8%;
  border-radius: 8px;
  border: 1px solid #ddd;
}
.rm{
  width: 8%;
  border-radius: 8px;
  border: 1px solid #ddd;
}
.nk{
  width: 7%;
  border-radius: 8px;
  border: 1px solid #ddd;
}
.as{
  width: 6%;
  border-radius: 8px;
  border: 1px solid #ddd;
}
.xtc{
  width: 11%;
  border-radius: 8px;
  border: 1px solid #ddd;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.db{
  margin-top: -20px;
  /* margin-left: 80%; */
  text-align: end;
  padding: 1%;
  width: 100%;
  height: 10px;
}
.blinking-text {
  animation: blink 1s infinite; /* Thiết lập animation với tên 'blink', thời gian 1 giây, và lặp vô hạn */
  color: red; /* Màu chữ */
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap; /* Prevent text from wrapping */
}

@keyframes colorChange {
  0% {
    color: red;
  }
  25% {
    color: blue;
  }
  50% {
    color: green;
  }
  75% {
    color: orange;
  }
  100% {
    color: red;
  }
}

.changing-text {
  animation: colorChange 5s infinite; /* Change '5s' to adjust the duration */
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  align-items: center;
  /* margin-left: 200px; */
  margin-top: -53px;
}

@keyframes lightning {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.lightning {
  position: relative;
  height: 100px;
  background: url('https://imgur.com/a/SooJqSK') no-repeat center center;
  background-size: contain;
  animation: lightning 3s infinite;
  width: 30px;
}
/* phone-list.component.css */
.phone {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next row */
  justify-content: space-between; /* Distribute items evenly along the main axis */
  align-items: center;
}

.phone-card {
  width: 19.5%; /* Set the width to 20% for five items in a row */
  margin: 0.2%;
  height: 350px;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}
.phonepr {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next row */
  justify-content: space-between; /* Distribute items evenly along the main axis */
  align-items: center;
  margin-top: 3%;
}
.phone-cardpr {
  width: 19.5%; /* Set the width to 20% for five items in a row */
  margin: 0.2%;
  height: 350px;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}
.imgp {
  width: 70%; /* Make the image take the full width of its container */
  height: 150px; /* Maintain aspect ratio */
  /* text-align: center; */
}

.navigation-buttons1 {
  transform: translateY(-400%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.navigation-buttonspr {
  transform: translateY(-600%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navigation-button {
  padding: 8px;
  font-size: 16px;
  margin: 0 5px;
  border-radius: 5px;
  background-color: #1eb71578;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  transition: bottom 0.5s ease;
}
.navigation-buttonpr {
  padding: 8px;
  font-size: 16px;
  margin: 0 5px;
  border-radius: 5px;
  background-color: rgb(234, 234, 175);
  color: red;
  /* border: 1px solid black; */
  border: none;
  outline: none;
  cursor: pointer;
  transition: bottom 0.5s ease;
}
/* laptop */
.slaptop{
  margin-left: 57.3%;
}
.mb{
  width: 10%;
  border-radius: 8px;
  border: 1px solid #ddd;
}
.ac{
  width: 6%;
  border-radius: 8px;
  border: 1px solid #ddd;
}
.hp{
  width: 6%;
  border-radius: 8px;
  border: 1px solid #ddd;
}
/* laptop-list.component.css */
.laptop {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next row */
  justify-content: space-between; /* Distribute items evenly along the main axis */
  align-items: center;
}

.laptop-item {
  width: 19.5%; /* Set the width to 20% for five items in a row */
  margin: 0.2%;
  height: 350px;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}


.controls {
  transform: translateY(-400%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navigation {
  padding: 8px;
  font-size: 16px;
  margin: 0 5px;
  border-radius: 5px;
  background-color: #1eb71578;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  transition: bottom 0.5s ease;
}
/* tivi */
.cqq{
  width: 9%;
  border-radius: 8px;
  border: 1px solid #ddd;
}
.tvxm{
  width: 8%;
  border-radius: 8px;
  border: 1px solid #ddd;
}
.tvss{
  width: 10%;
  border-radius: 8px;
  border: 1px solid #ddd;
}
.stivi{
  margin-left: 59.1%;
}
/* tivi-list.component.css */
.tivi {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next row */
  justify-content: space-between; /* Distribute items evenly along the main axis */
  align-items: center;
}

.tivi-item {
  width: 19.5%; /* Set the width to 20% for five items in a row */
  margin: 0.2%;
  height: 350px;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}


.controls1 {
  transform: translateY(-400%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navigation1 {
  padding: 8px;
  font-size: 16px;
  margin: 0 5px;
  border-radius: 5px;
  background-color: #1eb71578;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  transition: bottom 0.5s ease;
}
/* headphone */
.sheadphone{
  margin-left: 53.8%;
}
.tnb{
  width: 18%;
  border-radius: 8px;
  border: 1px solid #ddd;
}
.tncd{
  width: 15%;
  border-radius: 8px;
  border: 1px solid #ddd;
}
/* clock */
.sclock{
  margin-left: 63.7%;
}
.dha{
  width: 13%;
  border-radius: 8px;
  border: 1px solid #ddd;
}
.dhss{
  width: 10%;
  border-radius: 8px;
  border: 1px solid #ddd;
}
@media screen and (max-width: 430px) {}
@media screen and (min-width: 1024px) and (max-width: 1024px) {

}

