.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* border-color: aliceblue; */
  border-radius: 7px;
  box-sizing: border-box; /* Viền sẽ không tăng kích thước của box */
  /* border: 2px solid #ccc; Thêm viền 2px màu xám (#ccc) */
  padding: 0;
}

.box {
  flex: 1;
  margin: 1px; /* Thay đổi giá trị margin theo nhu cầu của bạn */
  /* background-color: #f0f0f0; */
  text-align: left;
  padding: 0;
  box-sizing: border-box;
}
.h6{
  font-size: 16px;
}
a{
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.p1{
  margin-left: 4%;
  font-size: 12px;
}
.bank{
  margin-left: 4%;
  display: flex;
  justify-content: space-between;
}
.bank a {
  flex: 1; /* Mở rộng phần tử để chiếm hết không gian có sẵn */
  /* text-align: center; Căn giữa nội dung trong phần tử a */
  /* text-decoration: none; Loại bỏ gạch chân mặc định cho liên kết */
  /* margin: 0 1px; */
}
.momo{
  background-image: url('https://cdn2.cellphones.com.vn/x/media/wysiwyg/momo_1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
  height: 30px;
  border-radius: 7px;
  border: 2px solid #ccc;
}
.zalopay{
  background-image: url('https://cdn2.cellphones.com.vn/x35,webp/media/logo/payment/zalopay-logo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
  height: 30px;
  /* margin-top: -9.5%; */
  margin-left: -45%;
  border-radius: 7px;
  border: 2px solid #ccc;
}
.apple{
  background-image: url('https://cdn2.cellphones.com.vn/x35,webp/media/wysiwyg/apple-pay-og.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
  height: 30px;
  /* margin-top: -9.5%; */
  margin-left: -91%;
  border-radius: 7px;
  border: 2px solid #ccc;
}
.net {
  display: flex;
  justify-content: space-between;
}
.net > a {
  flex: 1;
  margin-right: 2px; /* Khoảng cách giữa các div con */
}
.youtube{
  background-image: url('https://cdn2.cellphones.com.vn/44x,webp/media/logo/social/cellphones-youtube.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 58%;
  height: 43px;
  /* margin-top: 1.5%; */
  margin-left: 15%;
  border-radius: 7px;
  border: 2px solid #ccc;
}
.facebook{
  background-image: url('https://cdn2.cellphones.com.vn/44x,webp/media/logo/social/cellphones-facebook.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 58%;
  height: 43px;
  /* margin-top: -13%; */
  margin-left: -18%;
  border-radius: 7px;
  border: 2px solid #ccc;
}
.intagram{
  background-image: url('https://cdn2.cellphones.com.vn/44x,webp/media/logo/social/cellphones-instagram.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 58%;
  height: 43px;
  /* margin-top: -13%; */
  margin-left: -48%;
  border-radius: 7px;
  border: 2px solid #ccc;
}
.zalo{
  background-image: url('https://cdn2.cellphones.com.vn/44x,webp/media/logo/social/cellphones-zalo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 58%;
  height: 43px;
  /* margin-top: -13%; */
  margin-left: -82%;
  border-radius: 7px;
  border: 2px solid #ccc;
}
@media screen and (max-width: 430px) {}
@media screen and (min-width: 1024px) and (max-width: 1024px) {

}
