<div class="container">

  <div class="box">
      <h6>Tổng đài hỗ trợ miễn phí</h6>
    <p class="p1">Gọi mua hàng <a href="tel:1800.2097">1800.2097</a> (7h30 - 22h00)</p>
    <p class="p1">Gọi khiếu nại <a href="tel:1800.2097">1800.2063</a> (8h00 - 21h30)</p>
    <p class="p1">Gọi bảo hành <a href="tel:1800.2097">1800.2064</a> (8h00 - 21h00)</p>
    <div>
      <h6>Phương thức thanh toán</h6>
      <div class="bank">
        <a [routerLink]="['/momo']" routerLinkActive="router-link-active" ><div class="momo"></div></a>
        <a [routerLink]="['/zalopay']" routerLinkActive="router-link-active" ><div class="zalopay"></div></a>
        <a [routerLink]="['/applepay']" routerLinkActive="router-link-active" ><div class="apple"></div></a>
      </div>
    </div>
  </div>

  <div class="box">
    <h6>Thông tin và chính sách</h6>
      <p class="p1">Mua hàng và thanh toán Online</p>
      <p class="p1">Mua hàng trả góp Online</p>
      <p class="p1">Chính sách giao hàng</p>
      <p class="p1">Tra điểm Smember</p>
  </div>

  <div class="box">
    <h6>Dịch vụ và thông tin khác</h6>
      <p class="p1">Khách hàng doanh nghiệp (B2B)</p>
      <p class="p1">Ưu đãi thanh toán</p>
      <p class="p1">Quy chế hoạt động</p>
      <p class="p1">Chính sách Bảo hành</p>
  </div>

  <div class="box">
    <h6>Kết nối với ĐTO</h6>
    <div class="net">
      <a href="https://www.youtube.com/channel/UCU2aO4spKYe6vHMclBydqNg"><div class="youtube"></div></a>
      <a href="https://web.facebook.com/minh.vinh.3110567/"><div class="facebook"></div></a>
      <a href="https://www.instagram.com/reels/C0I9pp1rA9N/"><div class="intagram"></div></a>
      <a href="tel:0326119340"><div class="zalo"></div></a>
    </div>
  </div>

</div>

