<div class="dphone">
  <p class="sticky-element"><span class="apple">Realme</span><span class="apple">Điện thoại</span></p>
  <div class="dt">
    <div class="child dm1">
      <!-- Nội dung của div con 1 -->
    </div>
    <div class="child dm2">
      <!-- Nội dung của div con 2 -->
    </div>
  </div>
  <div>
    <p>Chọn theo tiêu chí</p>
    <select id="ram" name="ram" [(ngModel)]="selectedRam" (click)="refreshPage()" (change)="onRamSelect()">
      <option value="" disabled selected>Dung lượng Ram</option>
      <option value="3GB">RAM 3GB</option>
      <option value="6GB">RAM 6GB</option>
      <option value="8GB">RAM 8GB</option>
      <option value="12GB">RAM 12GB</option>
    </select>
    <select id="rom" name="rom" [(ngModel)]="selectedRom" (click)="refreshPage()" (change)="onRomSelect()">
      <option value="" disabled selected>Bộ nhớ trong</option>
      <option value="128GB">ROM 128GB</option>
      <option value="256GB">ROM 256GB</option>
      <option value="512GB">ROM 512GB</option>
      <option value="1TB">ROM 1TB</option>
    </select>
    <select id="screenSize" name="screenSize" [(ngModel)]="selectedInches" (click)="refreshPage()" (change)="onInchesSelect()">
      <option value="" disabled selected>Khích thước màn hình</option>
      <option value="6.4 inches">6.4 inches</option>
      <option value="6.7 inches">6.7 inches</option>
      <option value="6.72 inches">6.72 inches</option>
      <option value="7.8 inches">7.8 inches</option>
    </select>
  </div>
  <div>
    <p>Sắp Xếp theo</p>
    <button (click)="sortByPriceDescending()" [class.priceDescending]="isPriceDescendingClicked">Giá Cao - Thấp</button>
    <button (click)="sortByPriceAscending()" [class.priceAscending]="isPriceAscendingClicked">Giá Thấp - Cao</button>
    <button (click)="sortByDiscountDescending()" [class.discountDescending]="isDiscountDescendingClicked">Khuyến Mãi hot</button>
  </div>
    <!-- phone-list.component.html -->
  <div class="phone" *ngIf="phones.length > 0">
    <div *ngFor="let phone of getCurrentPhones();" class="phone-card">
      <a [routerLink]="['/', phone.name, phone.id]">
        <div style="text-align: center;"><img [src]="phone.img" alt="{{ phone.prname }}" class="imgp"></div>
        <div style="height: 48px;font-weight: bold;color: black;font-size: 14px;"><p>{{ phone.prname }}</p></div>
        <div>
          <span>{{phone.screenSize}}</span><span>{{phone.ram}}</span><span>{{phone.rom}}</span>
        </div>
        <div style="margin-top: 26%;font-size: 14px;">
          <p style="color: red;font-weight: bold;">{{ phone.price }}</p>
          <p style="color: black;font-weight: bold;"><s>{{ phone.discountedPrice }}</s></p>
        </div>
      </a>
    </div>
  </div>
  <div *ngIf="phones.length === 0">
    <p>Sản Phẩm Đã Hết Hàng.</p>
  </div>

  <div class="d1">
    <div *ngIf="questionData">
      <div><p class="p2">Câu hỏi thường gặp</p></div>
      <p (click)="toggleSection('section1')" class="p1">{{questionData.note }}<em >&gt;</em> </p>
      <div *ngIf="isSectionOpen('section1')" class="section-content">
        <p class="papple">{{questionData.note_1}}</p>
        <p>{{questionData.note_1_2}}</p>
        <p>{{questionData.note_1_3}}</p>
      </div>

      <p (click)="toggleSection('section2')"  class="p1">{{questionData.note_3 }}<em >&gt;</em> </p>
      <div *ngIf="isSectionOpen('section2')" class="section-content">
        <p>{{questionData.note_3_1}}</p>
        <p>{{questionData.note_3_2}}</p>
      </div>

      <p (click)="toggleSection('section3')"  class="p1">{{questionData.note_4}}<em >&gt;</em> </p>
      <div *ngIf="isSectionOpen('section3')" class="section-content">
        <p>{{questionData.note_4_1}}</p>
        <p>{{questionData.note_4_2}}</p>
      </div>

  </div>

  <div *ngIf="!questionData">
    <p>Loading...</p>
  </div>

  </div>

</div>
<hr color="black">
<app-lienhe></app-lienhe>
