<div class="container">
  <h2>Đăng ký</h2>
  <form>
    <div class="form-group">
      <label for="tenDangNhap">Tên đăng nhập:</label>
      <input type="text" id="tenDangNhap" [(ngModel)]="tenDangNhap" name="tenDangNhap" required>
    </div>
    <div class="form-group">
      <label for="matKhau">Mật khẩu:</label>
      <input type="password" id="matKhau" [(ngModel)]="matKhau" name="matKhau" required>
    </div>
    <div class="form-group">
      <label for="gmail">Email:</label>
      <input type="email" id="gmail" [(ngModel)]="gmail" name="gmail" required>
    </div>
    <div class="form-group">
      <label for="sdt">Số điện thoại:</label>
      <input type="tel" id="sdt" [(ngModel)]="sdt" name="sdt" required>
    </div>
    <button class="btn" (click)="dangKy()">Đăng ký</button>
    <!-- Display general error message -->
<div *ngIf="errorMessage">{{ errorMessage }}</div>

<!-- Display specific error messages -->
<div *ngIf="tenDangNhapError">{{ tenDangNhapError }}</div>
<div *ngIf="matKhauError">{{ matKhauError }}</div>
<div *ngIf="gmailError">{{ gmailError }}</div>
<div *ngIf="sdtError">{{ sdtError }}</div>
<div *ngIf="gmailFormatError">{{ gmailFormatError }}</div>
<div *ngIf="sdtFormatError">{{ sdtFormatError }}</div>
  </form>
</div>
